*{
    font-family: IosevkaNerdFont;
    font-size: 14px;
    min-height: 0;
    color: #a9b1d6;
}

window#waybar {
    background-color: #1a1b26;
}

#workspaces button{
    padding: 0px 2px;
    font-weight: bolder;
    background-color: #1a1b26;
}

#workspaces button.active, #workspaces button.focused{
    background: #32344a;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#tray,
#cpu,
#sway-mode,
#backlight,
#pulseaudio,
#battery,
#clock,
#network {
	padding: 0 10px;
}
